<a href="https://colab.research.google.com/github/tah10mid/tah10mid/blob/main/assignment5_23201440_sec27_Tahmidul_islam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CW-1.1) Write a function called even_checker that takes a number as its argument and prints whether the number is even or odd inside the function.

In [ ]:
def even_checker(num):
    if num%2==0:
        print("Even!!")
    else:
        print("Odd!!")
even_checker(10)
even_checker(17)

Even!!
Odd!!

CW-1.2) Write a function called is_even() that takes a number as an argument and returns True if the number is even otherwise returns False.

In [ ]:
def is_even(num):
    if num%2==0:
        return True
    else:
        return False
result = is_even(10)
print( result )
result = is_even(17)
print( result )

True
False

CW-1.3) Write a function called is_pos() that takes a number as an argument and returns True if the number is positive otherwise returns False.

In [ ]:
def is_pos(num):
    if num>=0:
        return True
    else:
        return False
result = is_pos(-5)
print( result )
result = is_pos(12)
print( result )

False
True

CW-1.4) Write a function called sequence() that takes an integer in its parameter called n. Now, if n is positive then it prints all the even numbers from 0 to n, otherwise if n is negative it prints all the odd numbers from n to -1. Note: You must call the functions from CW-1.2 and CW-1.3, otherwise this task would be considered invalid.

In [ ]:
def sequence(n):
  if is_pos(n)==True:
    for i in range(0,n+1):
      if is_even(i)==True:
        print(i," ",end=" ")
  else:
    for j in range(n,0):
      if is_even(j)==False:
        print(j," ",end=" ")
sequence(-7)

-7   -5   -3   -1

CW-2.1) Write a function called is_valid_triangle that takes 3 integer numbers as arguments. The function will return True if the 3 sides can form a valid triangle otherwise it’ll return False. Note: In a valid triangle, the sum of any two sides will be greater than the third side.

In [ ]:
def  is_valid_triangle(p,q,r):
    if p+q>r and q+r>p and r+p>q:
        return True
    else:
        return False
result=is_valid_triangle(7,5,10)
print( result )

result=is_valid_triangle(3,2,1)
print( result )

True
False

CW-2.2) Write a function called tri_area that takes 3 sides of a triangle as 3 arguments. The function should calculate and print the area of the triangle only if it's a valid triangle otherwise print that it's not a valid triangle. Area of triangle = √[s(s−a)(s−b)(s−c)], where 's' is the semi perimeter of the triangle. So, semi-perimeter = perimeter/2 = (a + b + c)/2. Note: You must call the function written in task CW-2.1, otherwise this task would be considered invalid.

In [ ]:
def tri_area(s1,s2,s3):
  if is_valid_triangle(s1,s2,s3)==True:
    s=(s1+s2+s3)/2
    area=(s*(s-s1)*(s-s2)*(s-s3))**0.5
    return area
  else:
    return "Can't form triangle"
print(tri_area(7,5,10))

16.24807680927192

CW-3.1) Write a function called circle that takes a radius in its parameter and returns the area of the circle. [Note: area of a circle is r2]

In [ ]:
import math
def circle(rad):
    a=math.pi*(rad**2)
    return a
circle(5)

78.53981633974483

CW-3.2) Write a function called sphere that takes a radius in its parameter and returns the volume of the sphere. [Note: area of a sphere is 43r3]

In [ ]:
import math
def sphere(rad):
    vol=((4/3)*math.pi*(rad**3))
    return vol
sphere(5)

523.5987755982989

CW-3.3) Write a function called fitting that takes three integer values as arguments. First two arguments are the two diameters and the third argument is the dimension. If it is 3 dimensional then you must calculate the volume of the spheres otherwise calculate the area of the circles. Finally, find out and print which circle/sphere can fit inside which one? Also, print how much space would be left if the smaller circle/sphere is put inside the larger one? Note: You must call the function written in task CW-3.1 & CW-3.2, otherwise this task would be considered invalid. Also, you can assume only 2 or 3 dimensions can be passed.

In [ ]:
import math

def circle(rad):
    a=math.pi*(rad**2)
    return a
circle(5)

def sphere(rad):
    vol=((4/3)*math.pi*(rad**3))
    return vol

def fitting(d1, d2, dim):
    if dim==2:
        area1=circle(d1/2)
        area2=circle(d2/2)
        if area1 > area2:
            left_space= area1-area2
            print(f"Circle-2 can fit inside Circle-1 and {left_space} square units would be left.")
        elif area2 > area1:
            left_space=area2-area1
            print(f"Circle-1 can fit inside Circle-2 and {left_space} square units would be left.")
        else:
            print("impossible to fit")
    elif dim==3:
        vol1=sphere(d1/2)
        vol2=sphere(d2/2)
        if vol1 > vol2:
            left_space= vol1-vol2
            print(f"Sphere-2 can fit inside Sphere-1 and {left_space} cubic units would be left.")
        elif vol2 > vol1:
            left_space=vol2-vol1
            print(f"Sphere-1 can fit inside Sphere-2 and {left_space} cubic units would be left.")
        else:
            print("impossible to fit")
fitting(30,14,3)

Sphere-2 can fit inside Sphere-1 and 12700.411900912335 cubic units would be left.

CW-5.1) Write a function called one_to_N that prints 1 till N recursively. Hint: N is a number taken as input from the user and you need to print the numbers starting from 1 to N recursively.

In [ ]:
n=int(input())
def one_to_N(x,N):
    if x==N:
        print(x)
    else:
        print(x,end=" ")
        one_to_N(x+1,N)
one_to_N(1,n)

5
1 2 3 4 5

CW-5.2) Write a function reverse_printing from N to 1 recursively Hint: N is a number taken as input from the user and you need to print the numbers starting from N to 1.

In [ ]:
n=int(input())
def  reverse_printing(x,n):
    if n==1:
        print(n)
    else:
        print(n,end=" ")
        reverse_printing(x,(n-1))
reverse_printing(1,n)

6
6 5 4 3 2 1

CW-5.3) Write a function summation to sum till N recursively Hint: N is a number taken as input from the user and you need to add the numbers starting from 1 to N recursively and print the sum.

In [ ]:
n=int(input())
def recursive_summation(x, n):
    if x>n:
        return 0
    else:
        return x + recursive_summation((x+1),n)
recursive_summation(1,n)

4

10

HW-1.1) Write a function called is_prime which takes an integer in its parameter to check whether a number is prime or not. If the number is prime then the function returns True otherwise it returns False.

In [ ]:
def is_prime(N):
    count=0
    for div in range(1,N  +1):
        if N%div==0:
            count+=1

    if count==2:
        return True
    else:
        return False

prime_check = is_prime(7)
print(prime_check)

True

HW-1.2) Write a function called is_perfect which takes an integer in its parameter to check whether a number is perfect or not. If the number is perfect then the function returns True otherwise it returns False.

In [ ]:
def is_perfect(a):
    total=0
    for div in range(1,a):
        if a%div==0:
            total+=div

    if a==total:
        return True
    else:
        return False
perfect_check = is_perfect(6)
print(perfect_check)

True

HW-1.3) Write a function called special_sum that calculates the sum of all numbers that are either prime numbers or perfect up till the integer value given in its parameter. This integer value must be taken as user input and passed into the function.

In [ ]:
def special_sum(ss):
  sum=0
  if ss==0:
    return ss
  else:
    if is_prime(ss)==True or is_perfect(ss)==True:
      sum+=ss
    return sum + special_sum(ss-1)
result=special_sum(8)
print(result)

23

HW-2.1) Write a simple function called show_dots that takes a number as an argument and then prints that amount of dots inside the function. [2 points] Note: You can use print(,end=””) to avoid the next output being printed on the next line.

In [ ]:
def show_dots(n):
    for i in range(n):
        print(".",end="")
show_dots(5)

.....

HW-2.2) Write a function called show_palindrome that takes a number as an argument and then prints a palindrome inside the function. [4 points] Note: You can use print(,end=””) to avoid the next output being printed on the next line

In [ ]:
def show_palindrome(n):
    for i in range(1,n):
        print(i,end="")
    for j in range(n,0,-1):
        print(j,end="")
show_palindrome(5)

123454321

HW-2.3) Write a function called show_triangle that takes a number as an argument and then prints a palindromic triangle. Moreover, the empty spaces surrounding the triangle are filled with dots(.) . Note: You must call the functions written in task HW-2.1 & HW-2.2, otherwise this task would be considered invalid.

In [ ]:
def show_triangle(st):
  for i in range(1,st+1):
    show_dots(st-i)
    show_palindrome(i)
    show_dots(st-i)
    print()
show_triangle(5)

....1....
...121...
..12321..
.1234321.
123454321

HW-3.1) Write a function called calc_tax that takes 2 arguments which are your age then your salary. The function must calculate and return the tax as the following conditions:

In [ ]:
def  calc_tax(age,money):
    if age<18:
        tax=0
        return tax
    elif money<10000:
        tax=0
        return tax
    elif 10000<=money<=20000:
        tax=int(money*(7/100))
        return tax
    elif 20000<money:
        tax=int(money*(14/100))
        return tax
user_age=int(input("Please enter your age: "))
user_salary=int(input("Please enter your salary: "))

calc_tax(user_age,user_salary)

Please enter your age: 20
Please enter your salary: 18000

1260

HW-3.2) Write a function called calc_yearly_tax that takes no arguments. Inside the function it should take first input as your age and then 12 others inputs as income of each month of the year. The function must calculate and print Tax for each month and finally print the total Tax of the whole year based on the HW-3.1 conditions. [6 points] Note: You must call the function written in task HW-3.1, otherwise this task would be considered invalid.

In [ ]:
def  calc_yearly_tax():
  age=int(input("Age:"))
  sum=0
  for i in range(1,13):
    income=float(input("Enter month"+str(i)+" income:"))
    month_tax=calc_tax(age,income)
    print("Month",i,"tax:",month_tax)
    sum+=month_tax
  print("Total yearly tax: ",sum)
calc_yearly_tax()

Age:22
Enter month1 income:7000
Month 1 tax: 0
Enter month2 income:800000
Month 2 tax: 112000
Enter month3 income:12000000
Month 3 tax: 1680000
Enter month4 income:8999
Month 4 tax: 0
Enter month5 income:899999
Month 5 tax: 125999
Enter month6 income:98888888888
Month 6 tax: 13844444444
Enter month7 income:10000000
Month 7 tax: 1400000
Enter month8 income:110000
Month 8 tax: 15400
Enter month9 income:11000000
Month 9 tax: 1540000
Enter month10 income:5600
Month 10 tax: 0
Enter month11 income:8900
Month 11 tax: 0
Enter month12 income:1000000
Month 12 tax: 140000
Total yearly tax:  13849457843

HW-4.1) Write a recursive function called reverse_digits that takes an integer n as an argument and prints the digits of n in reverse order. Hint: Think about how you solved it using loop

In [ ]:
n=int(input())
def reverse_digits(n):
  if n == 0:
    return 0
  else:
    print(n%10)
    reverse_digits(n//10)
reverse_digits(n)

649
9
4
6

HW-4.2) Write a recursive function called power that takes two arguments a and n. The function calculates and returns the value of an.

In [ ]:
a = int(input())
n = int(input())

def power(a,n):
  if n == 0:
    return 1
  else:
    return a*power(a,n-1)
power(a,n)

3
5

243

HW-5.0) Write a function called sequence_iterative that uses loop to calculate the value of y if the expression of y is as follows (Here, N is the input)

In [ ]:
def sequence_iterative(n):
  y = 0
  for i in range(1,n+1):
    if i%2==0:
      y-=i
    else:
      y+=i
  print(y)
sequence_iterative(5)

3

HW-5.1) Write a recursive function called sequence_recursive that calculates the value of y if the expression of y is as follows (Here, N is the input)

In [ ]:
def sequence_recursive(n):
    if n==1:
        return 1
    else:
        return (n*((-1)**(n+1)))+sequence_recursive(n-1)
sequence_recursive(5)

3

HW-5.2) Trace the Recursion code of HW-5.1 assuming the input value is 6.

In [ ]:
def sequence_recursive(n):
    if n==1:
        return 1
    else:
        return (n*((-1)**(n+1)))+sequence_recursive(n-1)
print(sequence_recursive(6))

-3